@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./font/Inter-SemiBold.otf); 
     
}
@font-face {
    font-family: 'Inter-400'; 
    src: local('Inter-400'),
        url(./font/Inter-Regular.otf);
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: #E1D4C9;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
}

/* header class */

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1440px;
    height: 725px;
    background-color: #E1D4C9;
}
.header__container{
    background-color: #E1D4C9;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 60px;
}
.header__container-logo{
    width: 100px;
    height: 60px;
}
.header__container-navigation{
    display: flex;
    justify-content: center;
    width: 1340px;
}
.header__container-navigation-ul{
    margin-top: 30px;
    display: flex;
    list-style: none;
}
.header__container-navigation-ul-link-text{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #403F3D;
    margin: 30px;
    text-decoration: none;
}
.header__container-navigation-ul-link-text-menu{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    font-weight: 550;
    color: #403F3D;
    text-decoration: none;
}
.header__container-navigation-div{
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px;
    left: 300px;
}
.header__container-burger{
    display: none;
}
.header__container-burger-menu{
    display: none;
    position: fixed;
    left: 50%;
    width: 384px;
    height: 804px;
    background-color: #E1D4C9;
    z-index: 9999;
}
.header__container-burger-menu-close{
    display: none;
}
.header__hero{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 644px;
}
.header__hero-offer{
    display: flex;
    align-items:center ;
    width: 1360px;
    height: 100%;
    background-image: url(./img/img-hero.png);
    border-radius: 40px;
}
.header__hero-offer-information{
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 444px;
    margin-left: 100px;
}
.header__hero-offer-information-paragraf{
    font-family: 'Inter';
    margin: 0 auto;
    width: 530px;
    height: 228px;
    font-size: 72px;
    line-height: 76px;
    color: #E1D4C9; 
}
.header__hero-offer-information-paragraf-enjoy ,.footer__container-offer-text-span{
    color: #B0907A;
    font-style: italic;
}
.header__hero-offer-information-text{
    margin-top: 30px;
    width: 530px;
    height: 72px;
    font-family: 'Inter-400';
    font-size: 18px;
    line-height: 24px;
    color: #E1D4C9;
}
.header__hero-offer-information-button{
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Inter';
    text-align: center;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #E1D4C9;
    cursor: pointer;
}
.header__container-navigation-ul-link-text:hover{
    text-decoration: underline;  
}
.header__container-navigation-ul-link-text-menu:hover{
    text-decoration: underline;
}
.header__hero-offer-information-button:hover{
    transition: 1s;
    background-color: #665F55;
    border-color: #665F55;
    color: #E1D4C9;
}

/* main class */
/* main favorite */

.main{
    display: flex;
    flex-direction: column;
}
.main__favorite{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.main__favorite-container{
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 100%;
}
.main__favorite-container-paragraf{
    font-family: 'Inter';
    font-size: 60px;
    line-height: 75px;
    color: #403F3D;
    text-align: center;
    height: 75px;
}
.main__favorite-containe-slider{
    justify-content: space-between;
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main__favorite-containe-slider-but{
    font-size: 25px;
    margin-top: 320px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: #E1D4C9;
    cursor: pointer;
}
.main__favorite-containe-slider-but:hover{
    transition: 1s;
    background-color: #665F55;
    border-color: #665F55;
    color: #E1D4C9;
}
.main__favorite-containe-slider-slide{
    text-align: center;
    width: 1152px;
    height: 100%;
}
.main__favorite-containe-slider-slide-one{
    margin: 0 auto;
    left:480px;
    width: 480px;
    height: 100%;
}
.main__favorite-containe-slider-slide-one-text{
    margin: 0 auto;
    width: 480px;
    height: 140px;
}
.main__favorite-containe-slider-slide-one-text-paragrafe , .main__favorite-containe-slider-slide-one-text-sell{
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 24px;
}
.main__favorite-containe-slider-slide-one-text-information ,.main__mobile-container-offer-text{
    margin: 10px auto;
    font-family: 'Inter-400';
    font-size: 19px;
    line-height: 24px;
}
.main__favorite-containe-control{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 144px;
    height: 4px;
    margin-left: 610px;
}
.main__favorite-containe-slider-slide-photo{
    width: 480px;
    height: 480px;
}
.main__favorite-containe-control-span {
    display: flex;
    width: 40px;
    height: 3px;
    background-color: #C1B6AD;
    border-radius: 100px;
}
.active{
    background-color: black;
}

/* main about */

.main__about{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    height: 1325px;
}
.main__about-container{
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 1325px;
}
.main__about-container-text ,.main__mobile-container-offer-paragrafe{
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 60px;
}
.main__about-container-text-span{
    font-family: 'Inter';
    font-style: italic;
    color: #B0907A;
}
.main__about-container-image{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 1060px;
}
.main__about-container-image-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 660px;
    height: 100%;
}
.main__about-container-image-column-photo{
    transition: 1s;
}
.main__about-container-image-column-photo:hover{
    transition: 1s;
    transform: scale(1.1);
}

/* main  mobile */

.main__mobile{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 630px;
}
.main__mobile-container{
    width: 1360px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__mobile-container-offer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 630px;
    height: 342px;
}
.main__mobile-container-offer-buttons{
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 64px;
}
.main__mobile-container-offer-buttons-but{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    border: 1px solid #665F55;
    border-radius: 100px;
    background-color: #E1D4C9;
    cursor: pointer;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    padding: 8px 16px 8px 16px;
}
.main__mobile-container-offer-buttons-but:hover{
    transition: 1s;
    background-color: #665F55;
    color:  #E1D4C9;
}
.main__mobile-container-offer-buttons-but-text{
    width: 100px;
    height: 40px;
}
.main__mobile-container-offer-buttons-but-text-one{
    font-family: 'Inter';
    font-size: 10px;
    line-height: 14px;
    color: #403F3D;
    margin: 0 auto;
}
.main__mobile-container-offer-buttons-but-text-two{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #403F3D;
    margin: 0 auto;
}

/* footer */

.footer{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.footer__container{
    width: 1360px;
    height: 450px;
    background-color: #665F55;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__container-offer{
    width: 530px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer__container-offer-text{
    font-family: 'Inter';
    font-size: 60px;
    line-height: 75px;
    margin: 0 auto;
    color: #E1D4C9;
}
.footer__container-offer-socials{
    display: flex;
    justify-content: space-between;
    width: 204px;
    height: 60px;
}
.footer__container-offer-socials-but{
    transition: 1s;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background-color: #665F55;
    cursor: pointer;
}
.footer__container-offer-socials-but:hover{
    transition: 1s;
    background-color: #B0907A;
    border: 0px;
}
.footer__container-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
    height: 186px;
}
.footer__container-contacts-us{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
    color: #E1D4C9;
}
.footer__container-contacts-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 262px;
    height: 116px;
    margin-top: 20px;
}
.footer__container-contacts-info-full{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
}
.footer__container-contacts-info-full-item:hover{
    transition: 0.5s;
    border-bottom: 3px solid #E1D4C9;
}
.footer__container-contacts-info-full-item{
    transition: 0.5s;
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #E1D4C9;
    margin-left: 5px;
}
@media screen and (max-width: 768px){
    html {
        scroll-behavior: smooth;
    }
    body{
        background-color: #E1D4C9;
        margin:  0 auto;
        display: flex;
        flex-direction: column;
        max-width: 768px;
        height: 100%;
    }
    .header{
        width: 768px;
    }
    .header__container{
        justify-content: space-between;
        width: 768px;
    }
    .header__container-burger{
        display: block;
        margin-top: 10px;
        margin-right: 10px;
        width: 44px;
        height: 44px;
        border: 1px solid #665F55;
        background-color: #E1D4C9;
        color: #665F55;
        font-size: 35px;
        border-radius: 100px;
    }
    .header__container-navigation{
        display: none;
        width: 44px;
        height: 44px;
    }
    .header__container-navigation-ul, .header__container-navigation-div{
        display: none;
    }
    .header__hero-offer{
        width: 688px;
    }
    .header__container-burger-menu{
        display: none;
        flex-direction: column;
        z-index: 9999;
        transition: 1s;
    }
    .header__container-burger-menu-close{
        display: block;
        margin-top: 10px;
        margin-right: 10px;
        position: relative;
        width: 44px;
        left: 85%;
        height: 44px;
        border: 1px solid #665F55;
        background-color: #E1D4C9;
        color: #665F55;
        font-size: 35px;
        border-radius: 100px;
    }
    .header__container-burger-menu-navigation{
        width: 348px;
        height: 440px;
        margin-top: 100px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .header__container-burger-menu-navigation-ul{
        list-style: none;
    }
    .header__container-burger-menu-navigation-ul-link{
        margin-top: 40px;
    }
    .header__container-navigation-ul-link-text{
        font-size: 32px;
        line-height: 40px;
    }
    .header__container-burger-menu-div{
        margin-top: 50px;
    }
    .header__container-navigation-ul-link-text-menu{
        font-size: 32px;
        line-height: 40px;
    }
    .main{
        max-width: 768px;
    }
    .main__favorite-container{
        width: 688px;
    }
    .main__favorite-containe-slider-slide{
        width: 488px;
    }
    .main__favorite-containe-control{
        margin-left: 274px;
    }
    .main__about{
     height: 1710px;   
    }
    .main__about-container{
        height: 1710px;
        width: 688px;
    }
    .main__about-container-image{
        height: 1220px;
        flex-direction: column;
    }
    #photo_two, #photo_three{
        display: none;
    }
    .main__about-container-image-column{
        width: 100%;
    }
    .main__about-container-image-column-photo{
        height: 590px;
    }
    .main__mobile{
        margin-top: 50px;
        height: 1072px;
    }
    .main__mobile-container{
        width: 688px;
        height: 1072px;
        flex-direction: column;
    }
    .footer{
        height: 736px;
    }
    .footer__container{
        width: 688px;
        height: 706px;
        flex-direction: column;
    }
}
@media screen and (max-width: 380px){
    html {
        scroll-behavior: smooth;
    }
    body{
        background-color: #E1D4C9;
        margin:  0 auto;
        display: flex;
        flex-direction: column;
        max-width: 380px;
        height: 4662px;
    }
    .header{
        width: 380px;
    }
    .header__container{
        justify-content: space-between;
        width: 380px;
    }
    .header__hero-offer{
        width: 348px;
        height: 552px;
    }
    .header__hero-offer-information{
        width: 316px;
        height: 432px;
        margin-left: 20px;
    }
    .header__hero-offer-information-paragraf{
        width: 316px;
        height: 144px;
        font-size: 42px;
        line-height: 48.3px;
    }
    .header__hero-offer-information-text{
        width: 316px;
        height: 144px;
        font-size: 16px;
        line-height: 24px;
    }
    .main__favorite{
        height: 696px;
    }
    .main__favorite-container{
        width: 348px;
        height: 696px;
    }
    .main__favorite-container-paragraf{
        width: 348px;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
    }
    .main__favorite-containe-slider-but{
        display: none;
    }
    .main__favorite-containe-slider-slide{
        width: 348px;
        height: 576px;
    }
    .main__favorite-containe-slider-slide-one, .main__favorite-containe-slider-slide-two ,.main__favorite-containe-slider-slide-three{
        width: 348px;
    }
    .main__favorite-containe-slider-slide-photo{
        width: 348px;
        height: 348px;
    }
    .main__favorite-containe-slider-slide-one-text{
        width: 348px;
        height: 164px;
    }
    .main__favorite-containe-control{
        margin-left: 100px;
    }
    .main__about-container{
        width: 348px;
    }
    .main__about-container-text{
        width: 348px;
        font-size: 32px;
        line-height: 40px;
    }
    .main__about-container-image-column{
        height: 590px;
    }
    .main__about-container-image-column-photo{
        object-fit: cover;
        border-radius: 20px;
    }
    .main__mobile{
        height: 768px;
    }
    .main__mobile-container{
        width: 348px;
        height: 768px;
    }
    .main__mobile-container-offer{
        width: 348px;
    }
    .main__mobile-container-offer-paragrafe{
        font-size: 32px;   
        line-height: 40px;
    }
    .main__mobile-container-offer-text{
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
    }
    .main__mobile-container-offer-buttons{
        margin-top: 10px;
        flex-direction: column;
        width: 200px;
        height: 148px;
    }
    .main__mobile-container-offer-buttons-but{
        width: 200px;
        height: 64px;
    }
    .main__mobile-container-image{
        width: 348px;
        height: 348px;
    }
    .footer__container{
        width: 348px;
        height: 450px;
    }
    .footer__container-offer{
        width: 316px;
        height: 180px;
    }
    .footer__container-offer-text{
        font-size: 32px;
        line-height: 40px;
    }
    .footer__container-contacts{
        width: 316px;
        height: 186px;
    }
    .header__container-burger-menu{
        left: 0px;
    }
}
    